body {
	font-family: "Courier New", "Consolas", monospace;
}

.updfail{
	background-color: red;
	color: white;
	font-weight: bold;
}

.upd1h{
	background-color: yellow;
	font-weight: bold;
}

.upd30m {
	background-color: green;
	font-weight: bold;
}
